<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="header">
	<div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/index}">SRS</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/nilai}">Nilai</a></li>
                        <li><a href="#" th:href="@{/mapel}">Mata Pelajaran</a></li>
                        <li class="dropdown">
				        	<a th:href="@{#}" class="dropdown-toggle" 
				        	data-toggle="dropdown" role="button" 
				        	aria-haspopup="true" 
				        	aria-expanded="false">Data <span class="caret"></span></a>
				          		<ul class="dropdown-menu">
						            <li><a th:href="@{admin/list/siswa}">Siswa</a></li>
						            <li><a th:href="@{admin/list/guru}">Guru</a></li>
						            <li><a th:href="@{admin/list/staff}">Staff</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a th:href="@{admin/list/kelas}">Kelas</a></li>
						        </ul>
				        </li>
				        <li><a href="#" th:href="@{/logout}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
	<!-- ^^ fragment head -->
</div>

	
</body>
</html>
